<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
  
    <!-- Open Graph -->
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/cividraw_logo.png">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">
  
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/cividraw_logo.png">
  
    <!-- Favicon -->
    <link rel="icon" href="/cividraw_logo.ico" type="image/x-icon">
  
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
  
    <!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BB7PYJSNK6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-BB7PYJSNK6');
    </script>
  </head>
  