<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:image" content="{{ site.url }}/assets/cividraw_logo.png">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/cividraw_logo.png">

  <link rel="icon" href="{{ '/cividraw_logo.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">

  {% seo %}

  {% if site.google_analytics and site.google_analytics != "G-XXXXXXX" %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());

    (function(){
      var qs = new URLSearchParams(location.search);
      var debugOn = qs.get('debug') === '1' || localStorage.getItem('ga4_debug') === '1';
      gtag('config', '{{ site.google_analytics }}', { send_page_view: true, debug_mode: !!debugOn });
      if (debugOn) console.log('GA4 debug_mode = true');
      window.__ga4_debug = function(on){
        gtag('set', 'debug_mode', !!on);
        if(on){ localStorage.setItem('ga4_debug','1'); } else { localStorage.removeItem('ga4_debug'); }
        console.log('GA4 debug_mode =', !!on);
      };
    })();
  </script>
  {% endif %}

  <script defer src="{{ '/assets/ga-events.js' | relative_url }}"></script>
</head>
